{include file="public/header" nav="$article.title"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/box_pay.css">
<style>
	body{
		background: #e4e4e4;
	}
	.t_header {
	    height: 1.2rem;
	    background-color: #ffffff!important;
	    display: flex;
	    flex-direction: row;
	    position: relative;
	}
	.t_header span:last-child i {
	    font-size: .48rem;
	    position: absolute;
	    left: 46%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    color: black;
	}
	.f_box_bank .f_content ul li {
	    height: 1.333333rem;
	    line-height: 1.333333rem;
	    padding-left: 1.066666rem;
	    text-align: left;
	    background: #e4e4e4;
	    border-bottom: .026667rem solid #d4d4d4;
	    position: relative;
	    color: gray;
	}
	label {
	    cursor: default;
	    color:gray;
	}
	.t_box_pay .t_con_pay {
	    flex: 1;
	    background-color: #e4e4e4;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	}

	
</style>
<div id="app">
    <div class="box">
        <div class="jun-content">
            <div class="t_box_pay">
                <div class="t_header">
                    <span><img src="__ROOT__/static/wap/images/icon_back.png" alt="" onClick="javascript:history.back()"></span> 
                    <span><i>{$article.title}</i></span>
                </div>
                <div class="t_con_pay">
                    <div style="background: #e4e4e4;border-top: .026667rem solid #e4e4e4;color: gray;padding: .333333rem;">
                        {:htmlspecialchars_decode($article['content'])}
                    </div>
                </div>
            </div>
        </div>
        {include file="public/footer"}
    </div>
</div>
</body>

</html>
